/* =====나이키 상품==== */
/* 호버영역 */
.prod-list {
    margin-bottom: 30px;
}

.prod-list > .prod-color > ul {
    overflow: hidden;
}

.prod-list > .prod-color > ul > li {
    width:40px;
    float: left;
}
/* 상품영역 */
.prod-content {
    overflow: hidden;
    padding: 15px 0;
}
.prod-content > .info {
    float: left;
}
.prod-content > .price {
    float: right;
}
.prod-content > .info > span {
    display: block;
}
/* 이미지 영역 */
.prod-img > img {
    width: 100%;
}

/* 숙제!- 이미지영역의 margin-top을 -값으로 위로 */
/* transition에 대한 내용을 확인 */
.prod-list > .prod-color {
    opacity: 0;
    transition: all 0.5s ease-in-out ; /* css속성, 기간, transition 딜레이 */
    margin-top: -30px; /* 음수값으로 8칼러 위쪽으로 이동 */
}

/* 호버 */
.prod-list:hover > .prod-color {
    opacity: 1;

}