/* 1. 웹폰트 선언 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* 2. 디자인 시작시 기본 선언 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Noto Sans KR', sans-serif;/* 웹폰트 적용 */
    width: 100%;
    min-width: 320px; 
}

img {
    max-width: 100%;/* 사이즈가 변했을 때 넓이 유지 */
    height: auto; /* 넓이에 따라 높이가 변함 */
}

input, textarea, button, select {
    -webkit-appearance: none; /* 브라우저별로 고유하게 적용되는 form관련요소들의 css제거 */
    -moz-appearance: none;
    -o-appearance: none;

}

ul, li, dl, ol {
    list-style: none; /* 순서요소들의 리스트스타일 제거 */
}

/* 버튼과 input태그의 윤곽변경 */
.btn {border-radius: 0px;}
.form-control {border-radius: 0px; }
.form-control:focus {border: 1px solid #333;}
section {margin-top: 52px;}






/* ======헤더====== */
.header_col1 {
    background-color: #eee;
    overflow: hidden;
    height: 52px;/* 세로축 가운데 정렬 */
    line-height: 52px;/* 세로축 가운데 정렬 */
}

.top_width > ul > li.on { 
    /* 선택자를 붙여서 사용하게되면 li태그안에 클래스이름이 on인것을 의미 */
    border-top: 1px solid #d2d0d0;
    line-height: 42px;
    border-left: 1px solid #d2d0d0;
    border-right: 1px solid #d2d0d0;
    border-bottom: 1px solid #fff;
    background: #fff;
    font-weight: 500;

    border-bottom: 5px solid #037fc3;

}

.top_width > ul > li {
    display: inline-block;
    width: 135px;
    text-align: center;
    font-weight: 700;
}
.top_width > ul >li > a {
    text-decoration: none; 
    font-size: 14px;
    color: #666;
}

.top_width {overflow: hidden; width: 1240px; margin: 0 auto;}
.fl_left {float: left;}
.fl_right {float: right;}

.fl_right > a {
    background-color: #fff;
    text-decoration: none;
    color: #666;
    padding: 7px;
    border: 1px solid #d2d2d2;
}

/* =====아래쪽헤더===== */
.top_hide {display: none;}


.logo a {
    background-image: url("../img/logo.png");
    display: block; /* a태그의 컨텐츠요소가 없기 때문에 강제 지정 */
    width: 200px;
    height: 33px;
    margin: 23px 0 0;
    background-repeat: no-repeat;
}

.logo {float: left; /* 부모에 hidden */}
.top_menu {float: left; margin-left: 30px;}
.top_menu > ul > li {
    display: inline-block; /* 배치구도변경 */
}
.top_menu > ul > li > a {
    /* a에 넓이 설정을 해주는 이유는 마우스클릭이 가능하도록 하기위해서 */
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 5px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.top_menu > ul > li > a:hover {
    color:#39f;
    /* background-color: #d2d2d2; */
}


/* =======헤더2디자인======= */
.navbar {
    margin: 0;
}

/* 배경색 */
.custom_header {
    background-color: #263238;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 50; /* z축높이 */
}
/* a태그색상 */
.custom_header nav a {
    color: #fff;
}
/* 이미지 위치조정 */
.navbar-brand {
    padding: 10px 15px;
}

/* 마우스 호버, 포커스 시 백그라운드 색상변경 */
.custom_header .nav > li > a:hover,
.custom_header .nav > li > a:focus {
    background-color: #304047;
}
/* 모바일환경에서 메뉴윤곽색 */
.custom_header .navbar-toggle,
.custom_header .navbar-toggle .icon-bar {
    color : #fff;
    border: 1px solid #fff;
}
/* 드롭다운메뉴 색상변경 */
.dropdown-menu > li > a {
    color :#333;
}
@media(max-width: 767px) {
    .dropdown-menu > li > a {
        color:#eee;
    }
}

/* =====footer===== */
footer {
    background-color: #263238;
    color :#eee;
    padding: 40px 0;
    margin-top: 50px;
}
footer .copyright {
    font-size: 15px;
    font-weight: 500;
}

footer .footer-menu > li {
    display: inline-block;
}
footer .footer-menu > li > a {
    display: block;
    padding: 0 15px;
    color: #eee;
}

/* =====슬라이더 영역===== */
.slide-list {
    padding: 0;
}

.carousel-control.right,
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

/* ======메인 상품 리스트====== */
.prod-wrap, .prod-inner > a { 
    border: 1px solid #d2d2d2;
}

.prod-wrap, .prod-inner {
    padding: 5px;
}

.prod-inner > a {
    display: block;
    text-align: center;
    position: relative;
}

.prod-inner > a > .arrow {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #ccc;
    color: #fff;
    position: absolute;/* 부모 영역에 relative */
    bottom : 20px;
    left: 20px;
}

.prod-inner > a > .hover {
    width: 100px;
    background-color: #037fc3;
    opacity: 0;/* 0이면 투명, 1이면 기본 */
}

.prod-inner > a:hover > .arrow {
    opacity: 0;
}
.prod-inner > a:hover > .hover {
    opacity: 1;
}

.prod-inner > a:hover {
    border: 1px solid #037fc3;
}

/* =====메인 아래쪽=====*/
@media(min-width:1200px) {
    .blog-style > li[class*="col-lg-2"] {
        width: 20%;
    }
}

.blog-wrap {
    border: 1px solid #d2d2d2;
    position: relative;
    margin-bottom: 30px;
}

.blog-wrap > .blog-content {
    padding: 12px 15px;
}

.blog-wrap > .blog-content > p {
    font-size: 15px;
    font-weight: bold;
    min-height: 70px; /* 가변높이 */

}

.blog-info {
    overflow: hidden;
}

.blog-info > ul {
    float: left;
}

.blog-info > ul > li {
    display: inline-block;
    color:#FDCC11;
}

.blog-info > strong {
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.blog-wrap > .blog-img {
    text-align: center;
}

.blog-content-hover {
    background-color: rgba(0,0,0,.8);
    position: absolute; /* 부모에 relative */
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;

    padding: 20px;

    opacity: 0; /* 투명도 0 */
}

.blog-content-hover > a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;

    display: block;
    width: 100%;
    height: 100%;
}
/* 호버 */
.blog-wrap:hover > .blog-content-hover {
    opacity: 1;
}




/* 웹폰트선언 */@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/* 기본선언 */*{margin:0px; padding:0px; box-sizing: border-box;}
body, html{ font-family: 'Merriweather', serif; 
    width:100%; min-width: 320px;} 
    img{ width:100%; height: auto;} 
    input, textarea, button, select{ 
    /* 기본적인 태그들이 가지고있는 디자인을 제거 */ 
    -webkit-appearance: none; 
    /*크롬,사파리*/ /* 브라우저별로 고유하게 적용되는 form관련 요소들의 css제거 */ 
    -moz-appearance: none; /*파이어폭스*/ 
    -o-appearance: none;}
     ul,li{ list-style: none;} 
     /* 헤더 */
     .custom-header{ position: fixed; 
    top: 0px; left: 0px; width:100%; z-index: 50;} 
    .container-fluid{ padding:0px;} 
    .navbar{ margin-bottom: 0px;} 
    /* 위쪽헤더 */
    .top-header{ 
        background-color: #fff; 
        padding:0px; text-align: center; 
        position: relative;} 
    .top-header > p{ 
        font-size: 100px; 
        letter-spacing: 30px; 
        margin:0px; 
        font-weight: bold;} 
    .top-header > .regist{ 
        position: absolute; 
        top: 10px; right: 10px;} 
    .top-header > .regist > li{ 
        display: inline-block; 
        margin:10px 20px;} 
    .top-header > .regist > li > a{ 
        color: #555; font-size: 18px;} 
        .top-header > .regist > li > a:hover{ 
            text-decoration: none;}
    /* 아래헤더 */ 
    .bottom-header{ 
        width: 100%; text-align: center; 
        background-color: #444; 
        box-sizing: border-box; height:50; margin:0px;} 
    .navbar-inverse .navbar-nav > li > a { 
        font-size: 18px;
        height: 40px; 
        line-height: 50px; 
        color:#fff; 
        display: block; 
        position: none; 
        transition: all 0.5s ease-in-out; 
        padding:0px 20px; margin: 0 10px;} 
    .navbar-nav > li { 
        display: inline-block; 
        float: none;} 
    .navbar-inverse .navbar-nav > li > a:hover { 
        border-bottom: 5px solid #fff;}
     @media (max-width:767px){ /* 767이하에서 동작 */ 
    .bottom-header{ margin:0px; } 
    .top-header > p{ padding-top: 25px;; } 
    .bottom-header




